@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --text-color-primary: #ffff;
  --text-color-secondary: #0000;

  --card-category-bg-color: #c7c7c7;
  --header-bg-color: #2d28ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.dr-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}
